nb-card.confirm-dialog {
    width: 30vw;
    text-align: center;

    nb-card-body {
        padding: 16px !important;
    }
}

nb-card.add-new-dialog {
    max-width: 40vw;

    nb-card-header {
        font-size: 20px;
    }
}