nb-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: url('/assets/images/login-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

nb-layout-column {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100%;
    // position: relative;
    // z-index: 1;
    background: transparent;
}

nb-card {
    width: 370px;
    // position: relative;
    // z-index: 2;

    nb-card-body {
        padding: 40px;

        button {
            margin-top: 15px;
            width: 100%;
        }
    }    
}

.auth-links {
    display: flex;
    justify-content: space-between;

    label {
        display: flex;
        align-items: center;
        font-size: 13px;
    }

    .forgot-password {
        cursor: pointer;
        margin: 0;
        font-size: 13px;
        color: #007bff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}